Saved/
Intermediate/
DerivedDataCache/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/Assets
/Content/Footstep_Sounds_Pro
/Content/FT_MagicCircle01
/Content/Gothic_Interior
/Content/Great_Sword
/Content/GrimReaperSet
/Content/Hack_And_Slash_FX
/Content/InsaneAirCombo
/Content/LevelPrototyping
/Content/M5VFXRPG1
/Content/Magic_MeleeSounds
/Content/Materials_supan
/Content/Monster_Sounds_Pro
/Content/Monsters_Pack
/Content/Niagara
/Content/NiagaraAudioVisualizer
/Content/NiagaraDeathEffects_Vol1
/Content/NiagaraMagicalSlashes
/Content/NiagaraUltimateHits
/Content/RPG_Interface_SFX
/Content/ShockWave
/Content/SoilDogTrail
/Content/StarterContent
/Content/Sword_Fighting_SFX
/Content/SwordAnimsetPro
/Content/Swords_Sounds_Pro
/Content/Texture
/Content/ThirdPerson
/Content/TrailMaster
/Content/Tutorial
/Content/Ultimate_Magic_Sounds
/Content/VFX_AoE_ShockWave
/Content/Weapons_woosh
/Content/特效
/Content/DMCContent.rar
/Content/NewLevelSequence.uasset
/Content/Katana_Animations
/Content/4_elements_spells
/Content/41_Animations_Monsters
/Content/300+FlatIcons
/Content/Air_Wind_Spell_VFX_Pack
/Content/ArcherySFX
/Content/Audio
/Content/Battle_Wounds
/Content/BlinkAndDashVFX
/Content/Blood_VFX_Pack
/Content/Bullet_Impacts_Flybys_Pro
/Content/Character_Appearance_Dissolve
/Content/CharacterBodyFX
/Content/Characters
/Content/Collections
/Content/Developers
/Content/DingshenShu
/Content/DMC
/Content/DMCContent
/Content/EssentialAnimation
/Content/Fighter_Animations
